@import url('https://fonts.googleapis.com/css?family=Fira+Mono:500');

hr {
    margin: 2em 0;
    border: solid #848484;
    border-width: 1px 0 0 0;
}

.info {
    background-color: #e4efff;
    border: 1px solid #c4cfdf;
    padding: 10px 16px;
    margin-bottom: 1em;
}

.software-release {}
.software-release-packages {}
.software-package-list {
    list-style-type:  none;
    padding: 0;
}
.software-package-list li {
    line-height: 2;
}
.software-package-list a {
}

a.download-tag {
    background: #404040;
    background: #404040 linear-gradient(#404040,#101010);
    border-radius: 4px;
    color: #fff;
    font-family: "Fira Mono",monospace;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 8px;
    text-decoration: none;
}
.version-tag {
    background: #1560cd;
    background: #1560cd linear-gradient(#3580ed,#1560cd);
    border-radius: 0 4px 4px 0;
    margin: -4px -8px -4px 8px;
    padding: 4px 8px;
}
a.download-link:hover,
a.download-tag:hover {
    opacity: 0.7;
}

.column {
    float: left;
    vertical-align: top;
}
.column-third {
    width: 33%;
    float: left;
}
.column-two-thirds {
    width: 66%;
    float: left;
}
.column img { max-width: 100%; }

@media screen and (max-width: 960px) {
    .column-third {
        width: 100%;
        float: none;
    }
    .column-two-thirds {
        width: 100%;
        float: none;
    }
}