
/* Smaller than standard 1280 (devices and browsers) */
@media only screen and (max-width: 1279px) {



}


@media only screen and (max-width: 1080px) {
    #slider .menu li span { display: none ; }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 960px) {



}


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 769px) and (max-width: 960px) {



}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px) {

    html { -webkit-text-size-adjust: none ; text-size-adjust: none ; }
    body { width: auto ; font-size: 14px ; }

    #header .box { min-width: 0 ; }

    #main_nav > .pad > ul.menu { min-width: 0 ; }
    #main_nav .download,
    #main_nav .search { display: none ; }

    #home #breadcrumbs { display: none ; }
    /* #breadcrumbs { display: none ; } */

    #page_body > .pad > .box { min-width: 0 ; border: none ; }

    .content_left,
    .content_right { float: none ; width: 100% ; }
    .content_left > .pad { margin: 20px 20px 30px ; }
    .content_right > .pad { margin: 0 ; }
    .content_right h2 { padding-left: 20px ; font-size: 16px ; }
    #news dl { padding: 15px 20px ; }
    .content_right li { padding-left: 15px !important ; }
    .content_right .all { margin-right: 15px ; }

    /*
    #slider .slides { height: 360px ; }
    #slider .slide { height: 360px ; }
    #slider .slide_content { height: 240px ; top: 20px ; }
    */

    .icon_boxes { width: 100% ; margin: 0 auto ; }
    .icon_boxes li { width: 30% ; }

    #page_footer,
    #sitemap { min-width: 0 ; }
    #sitemap { height: auto ; }
    #sitemap li { padding: 0 20px ; }

}


/* Small Mobile Sizes (480px or less) */
@media only screen and (max-width: 600px) {

    body { font-size: 15px ; }

    /* #header { border-bottom: 2px solid #06306b ; } */

    #main_nav > .pad > ul.menu { display: none ; width: 280px ; height: auto ; position: absolute ; left: 0 ; top: 124px ; }
    #main_nav > .pad > ul.menu.show { display: block ; }
    #main_nav > .pad > ul.menu li { width: 280px ; float: left ; background: #06306B ; border-bottom: 1px solid #43689d ; }
    #main_nav > .pad > ul.menu > li.active > a,
    #main_nav > .pad > ul.menu > li.active > a:hover { background: #06306B ; }
    #main_nav > .pad > ul.menu > li > ul > li.active > a,
    #main_nav > .pad > ul.menu > li > ul > li.active > a:hover { background: #43689d !important ; }
    #main_nav > .pad > ul.menu > li > ul { display: block ; position: relative ; top: 0 ; }
    #main_nav > .pad > ul.menu > li > ul > li > a { display: block ; padding-left: 20px ; }
    #main_nav > .pad > ul.menu > li > ul > li > a:before { content: "– " ; }

    #nav_expand { display: block ; width: 82px ; height: 36px ; line-height: 36px ; vertical-align: middle ; font-size: 20px ; font-weight: bold ; text-align: center ; color: #fff ; border-right: 1px solid #0d3c80 ; }
    #nav_expand:hover { cursor: pointer ; }
    #nav_expand.tapped { background: #06306B ; }

    #main_nav .download { display: none !important ; }



    .content_left h1,
    .content_body h1 { font-size: 20px ; line-height: 25px ; }
    .content_left h2,
    .content_left h2 { font-size: 16px ; }

    #slider.content_left > .pad { margin: 20px 0 ; }

    #slider .slides { height: auto ; border: none ; }
    #slider .slide { display: block !important ; height: auto ; min-height: 280px ; margin-bottom: 30px ; position: relative ; /* float: left ; */ border-top: 3px solid #ccc ; border-bottom: 3px solid #ccc ; }

    #slider .menu { display: none ; }
    #slider .slide_content { display: block !important ; width: 100% ; min-width: 320px ; padding: 0 ; /* font-size: 15px ; line-height: 17px ; */ }
    #slider .slide_content h3 { margin: 0 ; margin-bottom: 2px ; padding: 5px 10px 0 ; font-size: 14px ; }
    #slider .slide_content h3 a { border-bottom: 2px solid #666 ; }
    #slider .slide_content h3 b { display: inline !important ; }
    #slider .slide_content p { /* display: none ; */ padding: 0 10px ; font-size: 11px ; line-height: 13px ; }

    #slider .slide > img { width: 600px ; height: auto ; min-height: 200px ; margin: 0 auto ; margin-left: -300px ; position: absolute ; left: 50% ; top: -20px ; text-align: center ; }


    #slider .next,
    #slider .prev { display: none !important ; }

    /* .content_right h2 { font-size: 14px ; } */

    .icon_boxes { width: 100% ; }
    .icon_boxes ul { width: 380px ; }
    .icon_boxes li { width: 100% ; height: auto ; margin: 0 ; clear: both ; }
    .icon_boxes li span { display: block ; width: 120px ; height: 120px ; float: left ; position: relative ; }
    .icon_boxes li img { width: 100px ; height: 100px ; padding: 0 10px ; position: absolute ; right: 0  ; }
    .icon_boxes li p { float: left ; width: 250px ; }

    #page_footer { font-size: 12px ; line-height: 16px ; }
    #page_footer p { margin: 0 30px 20px ; }

    #sitemap ul.menu { width: 100% ; font-size: 15px ; line-height: 25px ; }

    .staff > div { width: 100% !important ; }


}


@media only screen and (max-width: 400px) {

    /*
    #main_nav .docs,
    #main_nav .marketplace { display: none ; }
    #news { width: 320px ; }
    */

    #breadcrumbs li:first-of-type { display: none ; }

    .icon_boxes ul { width: 320px ; }
    .icon_boxes li p { width: 180px ; }

}

.inline-form {
    background-color: #ebebeb;
    padding: 10px;
}
.inline-form label {
    color: #0d3c80;
    display: inline-block;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    width: 100px;
}
.inline-form label.checkbox-label {
    font-weight: normal;
    margin-left: 100px;
    width: inherit;
}
.inline-form input[type=text],.inline-form input[type=email] {
    padding: 4px
}
.inline-form-error {
    color: #944;
    font-size: 12px;
    padding-left: 10px;
}
#accept-license {
    background: #0d3c80;
    border: none;
    border-radius: 2px;
    color: #fff;
    padding: 10px;
}