/* LESS is MORE */


/* =================
    colors 
   ================= */

@blue-light-light: #94aac8 ;
/* @blue-light: #5073a4 ; */
@blue-light: #43689d ;
@blue-med-light: #2f5086 ;
@blue-med: #0d3c80 ;
@blue-med-dark: #093574 ;
@blue-dark: #06306b ;
@blue-dark-dark: #002457 ;

@blue-bright: #1560cd ;


/* =================
    images 
   ================= */

@blue_grdnt: url('/images/grdnt_blue.png') center center repeat-x ;
//@blue_grdnt: url('/images/grdnt_up.png') center center repeat-x ;
@blue_grdnt_alt: url('/images/grdnt_blue_alt.png') center center repeat-x ;
//@blue_grdnt_alt: url('/images/grdnt_down.png') center center repeat-x ;
@gray_grdnt: url('/images/grdnt_lt_gray.png') center bottom repeat-x ;


/* =================
    sizes 
   ================= */

@max_width: 1240px ;
@min_width: 960px ;
@main_nav_height: 36px ;


/* =================
    defaults 
   ================= */

html, body { width: 100% ; height: 100% ; margin: 0 ; padding: 0 ; font-family: Arial, Helvetica, sans-serif ; font-size: 13px ; background-color: #ddd ; }
body { overflow-y: scroll ; position: relative ; /* min-width: 1000px ; */ }
.ie7 body { overflow-y: auto ; }
p, h1, h2, h3, h4, h5, h6 { margin-top: 0 ; padding: 0 ; text-align: left ; }
a { color: inherit ; text-decoration: none ; border: none ; }
a.no_link:hover { background: inherit !important ; cursor: default ; }
img { vertical-align: bottom ; border: none ; }
ul.menu { display: block ; margin: 0 ; padding: 0 ; list-style: none ; }
ul.menu li { margin: 0 ; padding: 0 ; }
ul.menu.horiz > li { display: inline ; float: left ; }
.button { /* background: #f0f0f0 url('/images/grdnt_lt_gray.png') left bottom repeat-x !important ; */ border-radius: 4px ; }
.clear { clear: both ; display: block ; height: 0 ; overflow: hidden ; visibility: hidden ; }
.code_block { font-family: Courier,monospace ; font-size: 13px ; color: green ; }
.hidden { display: none; }

/* =================
    layout 
   ================= */

#wrapper { width: 100% ; min-height: 100% ; height: auto !important ; height: 100% ; }
#wraper:before { /* Opera and IE8 "redraw" bug fix */
    content:"";
    float:left;
    height:100%;
    margin-top:-999em;
}
#ie8_nag { display: none ; width: 100% ; background: #ffc ; }
#ie8_nag p { max-width: @max_width ; min-width: @min_width ; height: 20px ; margin: 0 auto ; line-height: 20px ; vertical-align: middle ; font-size: 11px ; color: #666 ; }
#ie8_nag a { color: #666 ; text-decoration: underline ; }
.ie7 #ie8_nag,
.ie6 #ie8_nag { display: block ; }

#header { width: 100% ; margin: 0 ; background-color: @blue-med ; }
#header > .pad { display: block ; /* padding: 0 20px ; */ }
#header .box { max-width: @max_width ; min-width: @min_width ; height: 86px ; margin: 0 auto ; position: relative ; }
#header .box img { position: absolute ; left: 0 ; bottom: 0 ; }
#header .box p { margin: 0 ; position: absolute ; left: 202px ; bottom: 5px ; color: @blue-light-light ; font-size: 12px ; font-weight: normal ; letter-spacing: 0.05em ; }

/* main nav */
#main_nav { width: 100% ; height: @main_nav_height ; background: @blue-dark-dark @blue_grdnt ; border-bottom: 2px solid @blue-dark ; z-index: 99 ; }
#main_nav * { z-index: 999 ; }
#main_nav a { color: #fff ; background: @blue-med-light ; letter-spacing: 0.03em ; }
#main_nav a:hover { /* text-decoration: underline ; */ background: @blue-light ; }
#main_nav li.active > a:hover { text-decoration: none ; cursor: default ; }
#main_nav > .pad { /* padding: 0 20px ; */ }
#main_nav > .pad > ul.menu { display: block ; max-width: @max_width ; min-width: @min_width ; height: @main_nav_height ; margin: 0 auto ; }
#main_nav > .pad > ul.menu > li { float: left ; position: relative ; }
#main_nav > .pad > ul.menu > li > a { display: block ; height: @main_nav_height ; padding: 0 15px ; line-height: @main_nav_height ; vertical-align: middle ; font-size: 14px ; color: #fff ; background: none ; border: none ; border-right: 1px solid @blue-med ; }
//#main_nav > .pad > ul.menu > li > a:hover { background: @blue_grdnt_alt ; }
#main_nav > .pad > ul.menu > li > a:hover { background: @blue-light ; }
#main_nav > .pad > ul.menu > li > a.first { border-left: 1px solid @blue-med ; }
#main_nav > .pad > ul.menu > li.active > a,
#main_nav > .pad > ul.menu > li.active > a:hover { background: @blue_grdnt_alt ; }
/* main nav submenus */
#main_nav > .pad > ul.menu > li > ul { display: none ; position: absolute ; left: 0 ; top: @main_nav_height ; border-top: 1px solid @blue-med ; }
#main_nav > .pad > ul.menu > li:hover > ul { display: block ; }
#main_nav > .pad > ul.menu > li > ul > li {  }
#main_nav > .pad > ul.menu > li > ul > li > a { display: block ; width: auto ; padding: 10px 15px ; white-space: nowrap ; background: @blue-med-light ; }
#main_nav > .pad > ul.menu > li > ul > li > a:hover { background: @blue-light ; }
#main_nav > .pad > ul.menu > li > ul > li > a.no_link:hover { background: @blue-med-light !important ; }
#main_nav > .pad > ul.menu > li > ul > li.active > a,
#main_nav > .pad > ul.menu > li > ul > li.active > a:hover { background: @blue-med-dark !important ; }

#nav_expand { display: none ; }

#page_body { width: 100% ; /* min-width: 1000px ; */ }
#page_body > .pad { /* padding: 0 20px ; */ }
#page_body > .pad > .box { max-width: @max_width ; min-width: @min_width ; margin: 0 auto ; min-height: 320px ; background: #fff ; border-left: 1px solid #a0a0a0 ; border-right: 1px solid #a0a0a0 ; border-bottom: 1px solid #a0a0a0 ; /* box-shadow: 0 20px 20px rgba(0,0,0,0.3) ; border-bottom-left-radius: 5px ; border-bottom-right-radius: 5px ; */ }
.ie7 #page_body > .pad > .box,
.ie8 #page_body > .pad > .box { border-bottom: 4px solid #a0a0a0 ; }

/* breadcrumbs - so much css for such a little thingy */
#breadcrumbs { width: 100% ; }
#breadcrumbs > ul.menu { height: 26px ; background: #7a7a7a ; }
#breadcrumbs > ul.menu > li.first { }
#breadcrumbs > ul.menu > li.first a { padding-left: 16px ; }
#breadcrumbs > ul.menu > li a { display: block ; height: 26px ; padding: 0 2px 0 30px ; line-height: 26px ; vertical-align: middle ; font-size: 12px ; color: @blue-med ; text-decoration: underline ; }
#breadcrumbs > ul.menu > li.active { background: #bfbfbf url('/images/breadcrumb_active_r.png') right center no-repeat ; }
#breadcrumbs > ul.menu > li.active.first a { padding-left: 16px ; background-image: none ; }
#breadcrumbs > ul.menu > li.active a { padding-left: 30px ; padding-right: 24px ; font-weight: bold ; background: transparent url('/images/breadcrumb_active_l.png') left center no-repeat ; text-decoration: none ; }
#breadcrumbs > ul.menu > li.active a:hover { cursor: default ; }
#breadcrumbs > ul.menu > li.inactive a { background: #adadad url('/images/breadcrumb_inactive.png') left center no-repeat ; }
#breadcrumbs > ul.menu > li.inactive.first,
#breadcrumbs > ul.menu > li.inactive.first a { background-image: none ; }

.content_body { font-size: 14px ; line-height: 18px ; }
.content_body a { color: @blue-bright ; text-decoration: underline ; }
.content_body .pad { margin: 40px ; }


/* box sizing for home page slider and sidebar */
.content_left { float: left ; width: 65% ; /* min-width: 624px ; */ font-size: 14px ; line-height: 18px ; }
.content_left > .pad { /* height: 420px ; /* margin: 10px ; */ margin: 40px ; position: relative ; overflow: hidden ; /* background: #fff ; */ }
.content_left a { color: @blue-bright ; text-decoration: underline ; }
.content_left h1,
.content_body h1 { line-height: 30px ; font-size: 28px ; font-weight: bold ; color: @blue-med ; /* border-bottom: 2px solid #e0e0e0 ; */ }
.content_left h2,
.content_body h2 { margin: 30px 0 10px ; font-size: 20px ; color: @blue-med ; }
.content_left h3,
.content_body h3 { margin: 20px 0 10px ; font-size: 16px ; color: @blue-med ; }
.content_left h4,
.content_body h4 { font-size: 15px ; color: @blue-med ; }
.content_left .iconList { border-top: 1px solid #ccc ; margin: 15px 0 15px 125px ; padding-top: 15px ; }
.content_left .iconList img { float: left ; margin-left: -125px ; } 
#slider { overflow: hidden ; }
#slider .menu { height: 32px ; overflow: hidden ; }
#slider .menu li { padding: 0 10px ; line-height: 32px ; vertical-align: middle ; font-size: 12px ; font-weight: bold ; letter-spacing: 0.02em ; color: #555 ; background: #eee @gray_grdnt ; border: 1px solid #ccc ; border-left: none ; border-bottom: none ; }
#slider .menu li {  }
.ie7 #slider .menu li span,
.ie8 #slider .menu li span { display: none ; }
#slider .menu li:hover { cursor: pointer ; }
#slider .menu li.first { border-left: 1px solid #ccc !important ; }
#slider .menu li.active { color: #fff ; background: @blue-med-dark @blue_grdnt_alt ; border: 1px solid @blue-med ; border-bottom: none ; }
#slider .menu li.active:hover { cursor: default ; }
#slider .menu li.first.active { border-left: 1px solid @blue-med !important ; }
#slider .slides { height: 404px ; position: relative ; border: 3px solid @blue-med ; }
#slider .slide { display: none ; /* float: left ; */ width: 100% ; height: 404px ; margin: 0 ; padding: 0 ; position: absolute ; left: 0 ; top: 0 ; overflow: hidden ; background: /* #159 */ #000 ; }
#slider .slides:hover .next,
#slider .slides:hover .prev { /* display: block ; */ }
#slider .slide.linked .slide_content:hover { cursor: pointer ; }
#slider .slide.linked .slide_content:hover h3 a { border-bottom: 2px solid #666 ; }
#slider .slide .slide_content h3 b { display: none ; padding-left: 2px ; font-weight: normal ; }
#slider .slide.linked .slide_content:hover h3 b { display: inline ; }
#slider .slide:first-child { display: block ; }
#slider .slide > img { width: 800px ; height: 440px ; margin-left: -400px ; margin-top: -220px ; position: absolute ; left: 50% ; top: 50% ; }
#slider .slide_content { display: none ; /* width: 200px ; height: 260px ; */ padding: 15px 20px 5px ; position: absolute ; left: 0 ; bottom: 0 ; font-size: 13px ; line-height: 16px ; color: #fff ; background: /* rgba(0,0,0,0.75) */ transparent url('/images/75pct_K.png') ; border-top: 2px solid #000 ; }
.ie #slider .slide_content {  }
#slider .slide_content h3 { margin: 0 0 10px ; font-size: 18px ; font-weight: bold ; line-height: 22px ; letter-spacing: 0.03em ; color: #fff ; }
#slider .slide_content h3 a { color: #fff ; text-decoration: none ; }
#slider .slide_content p { letter-spacing: 0.05em ; }
#slider .next,
#slider .prev { display: none ; width: 100px ; height: 404px ; /* margin-top: -75px ; */ position: absolute ; top: 0 ; z-index: 99 ; }
#slider .next { right: 0 ; background: transparent url('/images/slider_next.png') center right no-repeat ; }
#slider .prev { left: 0 ; background: transparent url('/images/slider_prev.png') center left no-repeat ; }
#slider .next:hover { cursor: pointer ; }
#slider .prev:hover { cursor: pointer ; }


.content_right { float: right ; width: 35% ; /* min-width: 336px ; */ }
.content_right > .pad { margin: 40px ; margin-left: 0 ; }
.content_right .box { /* padding: 10px ; */ background: #fff ; }
.content_right .box .box_pad { /* padding: 10px ; background: #c0c0c0 ; */ position: relative ; }
.content_right h2 { margin-bottom: 0 ; padding: 9px 12px 6px ; font-size: 20px ; font-weight: normal ; color: #fff ; background: @blue-med-dark ; border-bottom: 2px solid #c0c0c0 ; }
/* if using dl for sidebar */
.content_right dl { margin: 0 ; padding: 15px 10px ; border-bottom: 3px double #e0e0e0 ; }
.content_right dl.link_hover:hover dt { text-decoration: underline ; }
.content_right dl dt { margin-bottom: 5px ; font-size: 14px ; font-weight: bold ; color: @blue-bright ; }
.content_right dl dd { margin: 0 ; padding: 0 ; position: relative; }
/* if using ul for sidebar */
.content_right ul { margin: 0 ; padding: 0 ; list-style: none ; }
.content_right li { margin: 0 ; padding: 10px ; border: solid #e0e0e0 ; border-width: 1px 0 ; }
.content_right li ul { margin-left: 40px ; list-style: outside; }
.content_right li li { border: none ; padding: 0 ; line-height: 18px; }
.content_right li li a { text-decoration: underline ; }
.content_right .case_studies li { padding: 15px 10px ; }
.content_right li h3 { margin: 5px 0 ; font-size: 14px ; font-weight: bold ; color: @blue-bright ; }
.content_right li.link_hover:hover h3 a { text-decoration: underline ; }
.content_right li p { margin: 5px 0 ; padding: 0 ; position: relative; }

#sidebar .active { background: #f0f0f0 ; }
#sidebar .active a { /* color: @blue-dark !important ; */ }
#sidebar .active:hover { cursor: default !important ; }
#sidebar .active:hover a { text-decoration: none !important ; cursor: default !important ;  }

//.content_right dl p { margin: 0 ; }
.content_right a { color: @blue-bright ; }
.content_right a.more { /* padding-left: 5px ; display: block ; margin-top: 5px ; text-align: right ; */ }
.content_right a.more i { font-style: normal ; border-bottom: 1px dotted @blue-light-light ; }
.content_right a.more:hover i,
.content_right dl:hover a.more i { border-bottom-style: solid ; }
.content_right .all { margin-top: 15px ; text-align: right ; }
.content_right .all a { display: inline-block; padding: 4px 8px ; color: @blue-bright ; background: #f0f0f0 ; border: 1px solid #d0d0d0 ; border-radius: 4px ; }
.content_right .all a:hover { /* text-decoration: underline ; */ color: @blue-dark ; background: #e0e0e0 ; border-color: #a0a0a0 ; }
.content_right .next { display: none ; text-align: right ; z-index: 19 ; }
.content_right .next a { color: @blue-med ; text-decoration: underline ; }

.icon_boxes { /* min-width: 960px ; */ margin: 0 20px ; border-top: 1px solid #ccc ; text-align: center ; }
.icon_boxes h2 { margin: 20px auto ; text-align: center ; }
.icon_boxes ul { margin: 0 auto ; padding: 0 ; list-style: none ; text-align: center ; }
.icon_boxes li { display: inline-block ; width: 16% ; min-width: 150px ; height: 260px ; vertical-align: top ; }
.ie7 .icon_boxes li { float: left ; }
.icon_boxes li img { width: 150px ; height: 150px ; }
.icon_boxes li p { width: 144px ; margin: 5px auto ; }


#page_footer { max-width: 1220px ; min-width: @min_width ; margin: 0 auto ; padding: 25px 0 20px ; text-align: center ; font-size: 11px ; border-top: 5px solid #ccc ; }
.ie7 #page_footer,
.ie8 #page_footer { padding: 30px 20px ; }
#page_footer p { text-align: center ; color: #666 ; }
#page_footer a { text-decoration: underline ; }

#pusher { height: 207px ; clear: both ; }

#sitemap { /* max-width: @max_width ; */ min-width: @min_width ; width: 100% ; margin: 0 auto ; margin-top: -208px ; /* position: static ; bottom: 0 ; */ line-height: 20px ; background: #e6edf2 ; color: #707070 !important ; border-top: 2px solid #ccc ; border-bottom: 4px solid @blue-med-light ; font-size: 12px ; }
#sitemap .pad { max-width: 1200px ; margin: 0 auto ; padding: 0 0 20px ; text-align: center ; }
#sitemap ul.menu { display: inline-block ; width: auto ; float: left ; /* margin-right: 20px ; */ text-align: left ; }
#sitemap li { padding: 0 30px ; }
#sitemap h4 { margin: 0 ; margin-top: 20px ; }
#sitemap a {  }
#sitemap a:hover { color: #505050 ; text-decoration: underline ; }
#sitemap a.no_link:hover { text-decoration: none ; color: inherit ; }

#banner img { cursor:pointer; max-width: 100%; }


/* ======================
    modal popup styles
   ====================== */
.modal { position: fixed; top: 40px; left: 50%; width: 720px; margin-left: -360px; padding: 20px 40px; background: #fff; border: 1px solid #404040; box-shadow: 0 1px 4px rgba(0,0,0,0.8); z-index: 999; overflow-y: auto; }
.modal-mask { position: fixed; top: 0; left: 0; width: 100%; height: inherit; background: rgba(0,0,0,0.6); z-index: 999;  }

/* ======================
    page-specific styles
   ====================== */

body.events .content_left .item { margin: 30px 0 ; }
body.events .content_left h3 { /* margin-bottom: 10px ; */ }
body.events .content_left h3 i { display: block ; margin-top: 5px ; font-size: 15px ; font-style: normal ; }


body.team .staff > div { display: block ; width: 50% ; margin: 15px 0 ; float: left ; }
body.team .staff > div > img { padding-right: 10px ; }
body.team .staff > div > h3 { margin-bottom: 5px ; font-size: 15px ; }
body.team .staff > div > p { margin-bottom: 1px ; }



body .fsBody .fsForm { margin: 0 auto ; }
body .fsBody .fsForm .fsSectionHeading { font-size: 28px ; }
body .fsBody .fsSectionHeader { padding: 10px 15px 20px ; background: #f0f0f0 ; border-bottom: 2px solid #ccc ; }


/* ==================
quasi-responsive
================== */

@media only screen and (max-width: 1150px) {
    #slider .menu li span { display: none ; }
}

.ie7 #slider .menu li span,
.ie8 #slider .menu li span { display: inline !important ; }



/* NO MORE LESS */